/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --cols: 12;
    --gridSize: calc(100vw / var(--cols));
}

html{
    box-sizing: border-box;
    width: 100%;
    font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body.light{
    --bg: #E7E7E9;
    --primary-color: #111;
    --link-color: #4433ff;
    --tertiary-color: #D1D1D1;
    --tertiary-color-moon: #dbdbdb;
}

body.dark{
    --bg: #0a192f;
    --primary-color: #e6f1ff;
    --link-color: #64ffda;
    --tertiary-color: #112340;
    --tertiary-color-moon: #020c1b;
}

.layout__inner{
    grid-template-columns: repeat(var(--cols),var(--gridSize));
    display: grid;
    grid-gap: 0px;
}

.tl-edges{
    grid-column: 2/12;
}

@keyframes scrollIndicator{0%{transform:translateZ(0)}20%{transform:translate3d(0,-50%,0)}40%{transform:translateZ(0)}}