/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --cols: 12;
    --gridSize: calc(100vw / var(--cols));
}

html{
    box-sizing: border-box;
    width: 100%;
    font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body.light{
    --bg: #E7E7E9;
    --primary-color: #111;
    --link-color: #4433ff;
    --tertiary-color: #D1D1D1;
    --tertiary-color-moon: #dbdbdb;
    --primary-dark: rgba(17, 17, 17, 0.7);
    --tertiary-color-moon-trans: rgba(219, 219, 219, 0.85);
    --tertiary-color-trans: rgba(209, 209, 209, 0.85);
    --link-inverted: #64ffda;
}

body.dark{
    --bg: #0a192f;
    --primary-color: #e6f1ff;
    --link-color: #64ffda;
    --tertiary-color: #112340;
    --tertiary-color-moon: #020c1b;
    --primary-dark: rgba(230, 241, 255, 0.7);
    --tertiary-color-moon-trans: rgba(2, 12, 27, 0.85);
    --tertiary-color-trans: rgba(17, 35, 64, 0.85);
    --link-inverted: #4433ff;
}

a.link{
    color: var(--link-color);
    text-decoration: none;
    display: inline-block;
    position: relative;
    /* white-space: nowrap; */
    cursor: pointer;
}
a.link::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

a.link:hover::before{
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

.layout__inner{
    grid-template-columns: repeat(var(--cols),var(--gridSize));
    display: grid;
    grid-gap: 0px;
}

section, .tl-edges{
    grid-column: 2/12;
}

.caseStudy .tl-edges{
    grid-column: 1/-1 !important;
    position: relative;
}

.tl-edges{
    overflow-x: visible;
}

@keyframes scrollIndicator{0%{transform:translateZ(0)}20%{transform:translate3d(0,-50%,0)}40%{transform:translateZ(0)}}

@keyframes bounceAlpha {
    0% {opacity: 1; transform: translateX(0px) scale(1) rotate(-90deg); }
    25%{opacity: 0; transform:translateX(12px) scale(0.9) rotate(-90deg);}
    26%{opacity: 0; transform:translateX(-10px) scale(0.9) rotate(-90deg);}
    55% {opacity: 1; transform: translateX(0px) scale(1) rotate(-90deg);}
}

@keyframes swing{
    0%{transform:rotate(-3deg)}
    10%{transform:rotate(2deg)}
    20%{transform:rotate(-2deg)}
    30%{transform:rotate(1deg)}
    40%{transform:rotate(-1deg)}
    50%{transform:rotate(.5deg)}
    60%{transform:rotate(0deg)}
    70%{transform:rotate(.4deg)}
    80%{transform:rotate(.3deg)}
    90%{transform:rotate(.4deg)}
    to{transform:rotate(.3deg)}
}
